body {
    background: #f5d9d5;
    color: #EA1C2C;
    font-weight: 100;
    font-size: 1rem;
}
/* Hero - Section */
#heading h1 {
        font-weight: 100;
        font-size: 4rem;
}

#krisen {
    color: #EA1C2C;
}

#hilfe {
    color: orange;
}

#praxis {
    color: green;
}

a {
    text-decoration: none;
}