/* Universal */
html {
    scroll-behavior: smooth;

}

body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#red {
    color: #EA1C2C;
}


.blurb h2 {
    color: #EA1C2C;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p,
blockquote p,
.pokoj {
    /* color: #f498b8; */
    color: #bb6c87;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 2;
}


/* Navigationbar */
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

/* Hero - Section */
#hero {
    text-transform: uppercase;
}

#hero h1 {
    font-weight: 100;
    font-size: 4rem;
}

#hero h2 {
    font-weight: 100;
    font-size: 2.5rem;
}

#krisen {
    color: #EA1C2C;
}

#hilfe {
    color: orange;
}

#praxis {
    color: green;
}

#hero button {
    color: #fff;
    font-size: 1.5rem;
    padding: 6px 12px;

    border-radius: 35px;
    border: 1px solid #bb6c87;
    background-color: #bb6c87;
    cursor: pointer;
    transition: all ease-in-out 200ms;
}

#hero button:hover {
    background-color: #b06782;
}

#hero button:focus {
    outline: none;
}

/* About - Section */
.about ul {
    list-style-type: none;
}

.dgfs {
    max-width: 400px;
    border-radius: 30px;
}

/* Kontakt */
.kontakt a {
    color: #007BFF;
    line-height: 1.5;
}

.mannheim {
    line-height: 1;
}

.mannheim:hover {
    color: #6610f2;
}

/* Blockquote */
blockquote p {
    font-size: 1.7rem;
}

/* Other */
.navbar.scrolled {
    background-color: #dec0de;
    transition: background-color 500ms;
}

@media (max-width: 1200px) {
    .blurb h2 {
        font-size: 2rem;
    }

    .navbar {
        background-color: #dec0de;
    }

    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }



    .dgfs {
        max-width: 230px;
        border-radius: 15px;
    }

    #kontakt a {
        font-size: 1.25rem
    }

    blockquote p {
        font-size: 1.5rem;
    }

}